[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
jupyter = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
networkx = "*"
pandas = "*"
sklearn = "*"
Cython = "*"
scikit-sparse = "*"
